@import "~blip-ds/dist/collection/styles/_colors.scss";

.header {
   .title-header {
   color: $color-extend-grays-street;
}
}

a {
   text-decoration: none;
}

.text-card {
   color: $color-extend-grays-street;
}