@import '~blip-ds/dist/collection/styles/_colors.scss';
.status_bar {
  border: 1px dashed $color-border-2;
  border-radius: 8px;
  cursor: pointer;
}

.divisor {
  width: 0px;
  height: 24px;
  border: 0.5px solid $color-border-2;
  padding: 0;
}

.status_card {
  background-color: $color-surface-0;
  display: none;
  height: 0;
  position: absolute;
  width: 500px;
  max-height: 80%;
  min-height: 284px;
  overflow-y: auto;
}

.active {
  display: flex;
  bottom: 0;
  right: 16px;
  height: auto;
  transform: translateY(10px);
  animation: height 3s;
}

.problem_row {
  max-height: 500px;
  overflow-y: auto;
}

@media (max-width: 500px) {
  .active {
    right: 0;
  }
  .status_card {
    width: 100%;
  }
}
