@import '~blip-ds/dist/collection/styles/_colors.scss';

@mixin custom-scroll() {
  &::-webkit-scrollbar {
    width: 16px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;

    border: 4px solid transparent;
    border-radius: 10px;
    background-clip: content-box;

    background-color: $color-neutral-medium-silver;
  }
}

.fading-bottom {
  width: calc(100% - 16px);
  position: absolute;
  z-index: 3;
  bottom: 0;
  background: linear-gradient(180deg, $color-surface-1  -21.1%, $color-surface-1 100%);
}

.paper-problem_row {
  position: relative;
}

.status_bar {
  border: 1px dashed $color-border-2;
  border-radius: 8px;
  cursor: pointer;
}

.divisor {
  width: 0px;
  height: 24px;
  border: 0.5px solid $color-border-2;
  padding: 0;
}

.status_card {
  background-color: $color-surface-0;
  display: none;
  height: 0;
  position: absolute;
  width: 500px;
  max-height: 80%;
  min-height: 284px;
  overflow-y: auto;
}

.active {
  display: flex;
  bottom: 0;
  right: 16px;
  height: auto;
  transform: translateY(10px);
  animation: height 3s;
}

.problem_row {
  max-height: 500px;
  overflow-y: auto;
  @include custom-scroll();
}

@media (max-width: 500px) {
  .active {
    right: 0;
  }
  .status_card {
    width: 100%;
  }
}

